# Managed with Ansible
deb http://debian.ethz.ch/debian/ jessie {{ package_types }}
deb-src http://debian.ethz.ch/debian/ jessie {{ package_types }}

deb http://security.debian.org jessie/updates {{ package_types }}
deb-src http://security.debian.org jessie/updates {{ package_types }}

deb http://debian.ethz.ch/debian/ jessie-updates {{ package_types }}
deb-src http://debian.ethz.ch/debian/ jessie-updates {{ package_types }}

