# Managed with Ansible
# backports
deb http://debian.ethz.ch/debian {{ ansible_distribution_release }}-backports main
deb-src http://debian.ethz.ch/debian {{ ansible_distribution_release }}-backports main
