# Managed with Ansible
deb http://debian.ethz.ch/debian/ {{ ansible_distribution_release }} {{ apt_package_types }}
deb-src http://debian.ethz.ch/debian/ {{ ansible_distribution_release }} {{ apt_package_types }}

deb http://security.debian.org {{ ansible_distribution_release }}/updates {{ apt_package_types }}
deb-src http://security.debian.org {{ ansible_distribution_release }}/updates {{ apt_package_types }}

deb http://debian.ethz.ch/debian/ {{ ansible_distribution_release }}-updates {{ apt_package_types }}
deb-src http://debian.ethz.ch/debian/ {{ ansible_distribution_release }}-updates {{ apt_package_types }}

